
#certificateHtml {
 	padding:10px   
}

tr {
	padding: 2px;
}

td {
	padding-right: 10px;
}

h1, h4 {
	margin: 0;
}

table {
 	margin: 0px   
}

p {
	margin: 0;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

#certificateHtml .label {
	color: #000;
}

.handwrite {
    padding-right:50px;
    border-bottom:1px dotted #444
}

.value {
	color: #666;
}

.bold {
	font-weight: bold;
}

.round {
		border-radius: 4px;
-webkit-border-radius: 4px;
}

.box {
	border: 2px solid #aaa;
	background-color: #ffffff;
	margin-bottom: 10px;
}

.title {
	padding: 2px;
	background-color: #9c0;
}

.heading {
		background-color: #f1f1f1;
		border: 2px solid #aaa;
		border-radius: 4px;
-webkit-border-radius: 4px;
		margin-bottom: 20px;
		text-align: center;
		padding: 2px;
}