.listempty1 {
    text-align: center;
    font-size: 38px;
    line-height: 24px;
    color:#657b83;
    text-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}

.beanscertificates {
    text-align: center;
    font-size: 20px;
    line-height: 14px;
    color:#657b83;
    text-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
}

.x-layout-box {
	color:#657b83;
}

.container div {
	background:#FFF!important;
    padding:3px 0px!important;
}

.container h4 {
 	font-size:18px   
}

#client, #description, #limitations {
 	height: 180px!important;
}

#one, #two, #three {
 	height: 200px!important;   
}

table {
 	margin-bottom:0px!important   
}

ul {
    padding-left:5px!important;
}

ul.hor {
 	width:100%;
    text-align:left;
}

ul.hor li {
	display: inline    
}

ul li {
	list-style-type: none!important;
}

.add-top {
    margin-top: 20px;
}

.bottom {
    margin-bottom: 5px;
}

.inset {
 	margin-left:10px;
}

.emp {
 	font-weight:bold!important;
    font-size:16px;
}

td.emp {
   /* width:130px!important*/
}

.box {
		border: 3px solid #1467A2!important;
	}

.round {
     border-radius: 4px;
	-webkit-border-radius: 4px;
	}

.strip-vert{
    padding-top:0px!important;
    padding-bottom:0px!important;
}

.strip-hori {
 	padding-left:0px;
    padding-right:0px;
}

.quote {
	border: 4px solid #4d33cc
}

.invoice {
	border: 4px solid #33b2cc
}
