#typeHtml {
	padding: 10px
}
#typeHtml h1, h4 {
    margin: 0;
}

#typeHtml table {
    border-collapse: collapse;
    margin: 0px;
}

#typeHtml tr {
	padding: 2px;
}

#typeHtml th {
    border-bottom: 1px solid #444;
    padding: 3px 2px;
    text-align:left
}

#typeHtml td {
	padding: 2px;
}

#typeHtml table.no-border td {
    border: none !important;
}

#typeHtml p {
    padding: 0px;
    margin: 0px;
    text-align: center
}

.bold {
    font-weight: bold;
}
.center {
    text-align: center!important;
}
.right {
    text-align: right;
}
.round {
        border-radius: 4px;
-webkit-border-radius: 4px;
}

.box {
    border: 2px solid #aaa;
    background-color: #f1f1f1;
    margin-bottom: 20px;

}

.line {
    border-bottom: 1px dotted #444;
    padding: 5px 0px;
}